@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Roboto:wght@100;300;400;700&display=swap');

/* Box sizing rules */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin and padding */
  html, body {
    margin: 0;
    padding: 0;
  }
  
  /* Set default font size and line height */
  html {
    font-size: 16px;
    line-height: 1.5;
  }
  
  /* Remove list styles (bullets, numbering) */
  ul, ol {
    list-style: none;
  }
  
  /* Remove hyperlinks underline */
  a {
    text-decoration: none;
  }
  
  /* Reset form elements */
  button, input, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
  }
  
  /* Remove outline on focused elements */
  :focus {
    outline: none;
  }

  a {
    color: inherit; /* Inherit the color of the parent element */
    text-decoration: none; /* Remove the underline */
  }
  
  

/* MAIN CODE */

:root {
  --ff-heading : 'Dancing Script', cursive;
  --ff-paragraph : 'Roboto', sans-serif;
  --fc-primary : rgb(100, 145, 207);
  --fc-secondary : rgb(176, 208, 250);
}

body {
  width: 95%;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 30px;
}

.user-container {
  width: 40%;
  position: relative;
}

.user-icon {
  display: block;
  margin: 0 auto;

  width: auto;
  height: 250px;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid black;
}

.user-icon-text {
  text-align: center;

  font-family: var(--ff-heading);
  font-size: 1.4em;
  line-height: 0%;
}

.nav-container {
  margin-top: 10px;
  width: 60%;
  margin-bottom: 10px;
}

.nav-items {
  
  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 0 auto;
}

.nav-item-active {
  border-bottom: 4px solid black;
}

.nav-item a {
  font-family: var(--ff-paragraph);
  font-size: 1.3em;
  font-weight: 400;
}

.info-block {
  
  width: 80%;
  margin: 10px auto;
  padding: 30px 0;

  border: 1px solid black;

  display: none;
}

.info-block-description {
  width: 90%;
  margin: 0 auto;
  font-size: 1.1em;
  font-family: var(--ff-paragraph);
}

.info-block-description a {
  color: rgb(94, 94, 94);
  font-weight: bold;
}

.info-block-description a:hover {
  color: rgb(0, 0, 0);
}

.info-block span {
  margin: 10px 0;
  display: block;

  font-family: var(--ff-heading);
  font-size: 2em;
}

.info-block-active {
  display: block;
}

.contact-container {
  width: 80%;
  margin: 20px auto;
}

.contact-items {
  width: 40%;
  margin: 0 auto;
  padding: 0;

  display: flex;
  justify-content: center;
}

.contact-item {
  margin: 0 auto;
}

.contact-item i {
  font-size: 1.8em;
}

.contact-item i:hover {
  color: rgb(77, 179, 219);
}

